MONGO_URI=
NEXT_PUBLIC_APP_MAIN_URL=
NEXT_PUBLIC_SHDW_PRIVATE=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_OPOS_TOKEN=
NEXT_PUBLIC_ROOT_PROFILE=
NEXT_PUBLIC_GENESIS_PROFILE=
NEXT_PUBLIC_BADGE_COLLECTION=
NEXT_PUBLIC_ROOT_COLLECTION=
NEXT_PUBLIC_PASS_COLLECTION=
NEXT_PUBLIC_APP_PROFILE_COLLECTION=
NEXT_PUBLIC_APP_COMMON_LUT=

NEXTAUTH_URL=
NEXTAUTH_SECRET=